
<h1><%= @experiment.title%></h1>
<br>
<table>
<h2> <text> Procedures:</text> <%= @experiment.procedures %></h2>
<h2> <text> Results: </text><%= @experiment.results %></h2>
<h2> <text> Conclusion: </text><%= @experiment.conclusion %></h2>
</table>
